.frame {
     background-color:#63EDFC;
}
.main {
    
    background:rgb(255,255,255) none repeat scroll !important;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    border-radius: 5px;
    
}
.head {
     background-color:#00bfff;
     border-bottom-color:aliceblue;
      height:40px;
      padding:1px 0 6px 130px;
}
.friend_icon {
    width:40px;
    height:40px;
    margin-top:5px;
    margin-left:5px;
}
.friend1 {
    background:rgb(255,255,255);
    border-radius:5px;
    border-color:#D7F2FA;
    border:2px solid #D7F2FA;
    background-image:url('images/1.png');
    background-repeat:no-repeat;
    background-position:5px;
}
    .friend1 h {
        color:#00bfff;
    }
    .friend1 p {
        color:#00bfff;
        margin-left:10px;
    }
.friend1:hover{
         background-color:#D7F2FA;
       
    }
.image {
    background-image:url('images/2.png');
    border-color:#D7F2FA;
    background-color:white;
}
.friendimage {
    background-image:url('images/1.png');
    border-color:#D7F2FA;
    background-color:white;
    background-repeat:no-repeat;
}
.name {
    float:right;
    margin-top:35px;
}
    .name h {
        font-family: 'Mercury Text G2';
        color:black;
        font-size:25px;
    }
.leftpanel {
    margin-left:auto;
    width:300px;
    height:1000px;
    border-radius: 5px;
    float:left;
    left:auto;
    background-color:#D7F2FA;
}
.rightpanel {
   width:695px;
    height:1000px;
    float:right;
    border-radius: 5px;
    border:5px;
    background-color:rgb(255,255,255);
}
.homewindow {
    width:696px;
    height:245px;
    border-radius: 5px;
    border:5px;
    background-color:#D7F2FA;
    margin-top:0px;
     border-color:#00bfff;
     
}
.friendwindow {
    width:696px;
    height:245px;
    border-radius: 5px;
    border:5px;
    background-color:#D7F2FA;
    margin-top:5px;
    border-color:#00bfff;
}
.routewindow {
  
    width:696px;
    height:245px;
    border-radius: 5px;
    border:5px;
    background-color:#D7F2FA;
    margin-top:5px;
     border-color:#00bfff;
}
.feewindow {
    width:696px;
    height:245px;
    border-radius: 5px;
    border:5px;
    background-color:#D7F2FA;
    margin-top:5px;
    border-color:#00bfff;
}
.buttongroup {
    background:rgba(0,191,255,1.0);
    width:300px;
    height:180px;
    border:hidden;
}
.button_icon {
   background-color:#00bfff;
    background:rgba(0,191,255,0.7);
    height:60px;
    width:80px;
    border:none;
}
 .button_icon:hover{
         background-color:#63EDFC;
        background:rgba(99,237,252,0.7);
    }
.button_home {
    background-color:#00bfff;
    height:40px;
    width:120px;
    border:none;
    left:120px;
    background-image:url('images/1.png');
    background-repeat:no-repeat;
}
.friend_top {
    border-bottom:2px inset #D7F2FA;
}
.panel1 {
    margin-left:5px;
    margin-top:8px;
    margin-right:5px;
    border-radius: 5px;
    background-color:rgb(255,255,255);
}
.friendmode {
    float:right;
}
.panel_head {
    margin-right:5px;
    border-radius: 5px;
    font-family: 'Mercury Text G2';
    font-size:20px; 
    color:#666666;
    float:right;
}
    .panel_head h {
        margin-left:5px;
        font-family: 'Mercury Text G2';
        font-size:15px; 
        color:#00bfff;
    }
.panel_text {
    
    
    margin-right:5px;
    border-radius: 5px;

   
}
.friend_comment {
        font-size:12px; 
        color:#00bfff;
}
    .friend_comment c {

    }
    .panel_text p {
         margin-left:5px;
         font-family: 'Mercury Text G2';
        font-size:15px;
         
        color:black;
    }
.field {
    margin-top:10px;
    width:300px;
    height:500px;
    border-radius: 5px;
    background-color:#D7F2FA;
}
.button_home h {
    color:#000000;
    margin-top:30px;
    font-family: 'Mercury Text G2';
    font-size:20px; 
}
.button_text {
    background-color:#00bfff;
    background:rgba(0,191,255,0.7);
    margin-left:20px;
    height:30px;
    width:120px;
    border:none;
}
    .button_text:hover{
         background-color:#63EDFC;
        background:rgba(99,237,252,0.7);
    }
.button_text h {
    left:200px;  
    margin-top:0px;
    font-family: 'Mercury Text G2';
    color:white;
    font-size:15px; 
}
.button_text p {
    left:200px;  
    margin-top:10px;
    font-family: 'Mercury Text G2';
    color:white;
    font-size:15px; 
}
.authority_team {
    margin-top:5px;
    background:rgb(255,255,255);
    border:1px solid #00bfff;
    border-radius:5px;
    float:left;
}
.routeimage {
     background-image:url('images/route1.png');
     margin-top:2px;
     margin-left:100px;
    border-color:#D7F2FA;
    background-color:white;
    background-repeat:no-repeat;
}

.bill {
    margin-left:10px;
    border-radius:5px;
    color:#00bfff;
    background:rgb(255,255,255);
    float:left;
}
.field {
    margin-top:3px;
}
.fbill {
    margin-left:10px;
    border-radius:5px;
    color:#00bfff;
    background:rgb(255,255,255);
    float:left;
}
.search {
    margin-top:10px;
    margin-left:10px;
}
.toolbar {
    width:1000px;
    height:30px;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    background:rgba(215,242,250,0.3) none repeat scroll !important;
   /*-moz-opacity:0.3;
    opacity: 0.3;
    filter:Alpha(opacity=30);  */  

    background-color:#D7F2FA;
}

.icon-read {
    font-family: 'Mercury Text G2';
    font-size:15px;  
    text-decoration:none;
    color:#000000;
    background:rgba(0,158,255,0.3) none repeat scroll !important;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(white), to(#009eff));  
    background:-moz-linear-gradient(top,#D7F2FA,#009eff);
    background-image: linear-gradient(bottom, rgb(0,158,255) 0%, rgb(0,191,255) 100%);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #009EFF, 0px 5px 0px 0px #87ceeb, 0px 10px 5px #999;
    
}
 
.icon-read:active {
    top:3px;
    background-image: linear-gradient(bottom, rgb(0,158,255) 0%, rgb(0,191,255) 100%);
    box-shadow: inset 0px 1px 0px #009EFF, 0px 2px 0px 0px #87ceeb, 0px 5px 3px #999;
}
 
.icon-read::before {
    background-color:#009EFF;
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;

    margin-top:5px;
    margin-left:5px;
    border-radius: 50%;
    box-shadow: inset 0px 1px 0px #009EFF, 0px 1px 0px #63EDFC;
}
.icon-left {
    float:left;
}
.icon-right {
    float:right;
}
 
.icon-read:active::before {
    margin-top:2px;
    box-shadow: inset 0px 1px 0px #009EFF, 0px 3px 0px #00bfff, 0px 6px 3px #382e29;
}
.readFrame {
    width:800px;
    height:375px;
    border-color:#009eff;
    border-radius:5px;
    border:1px solid #009eff;
    margin-left:auto;
    margin-right:auto;
    background-color:#D7F2FA;

}
    .readFrame h {
        font-family: 'Mercury Text G2';
        font-size:15px;
    }
.image {
    width:376px;
    height:285px;
    border-color:#009eff;
    border-radius:5px;
    margin-left:10px;
    border:1px solid #009eff;
    margin-top:5px;
}
.nearfriend {
    margin-left:15px;
    margin-top:5px;
    border-radius:5px;
    background:rgb(255,255,255);
}
.nearicon_A {
    background-image:url('images/friend/1.jpg');
    width:50px;
    height:50px;
    margin-left:5px;
    margin-top:5px;
    float:left;
}
.nearicon_B {
    background-image:url('images/friend/2.jpg');
    width:50px;
    height:50px;
    margin-left:5px;
    margin-top:5px;
    float:left;
}
.nearicon_C {
    background-image:url('images/friend/3.jpg');
    width:50px;
    height:50px;
    margin-left:5px;
    margin-top:5px;
    float:left;
}
.nearicon_D {
    background-image:url('images/friend/4.jpg');
    width:50px;
    height:50px;
    margin-left:5px;
    margin-top:5px;
    float:left;
}
.nearicon_E {
    background-image:url('images/friend/5.jpg');
    width:50px;
    height:50px;
    margin-left:5px;
    margin-top:5px;
    float:left;
}
.nearname {
    margin-top:5px;
    margin-left:5px;
    float:left;
}
.nearbutton {
    margin-top:5px;
    margin-left:5px;
    float:left;
    border-color:#D7F2FA;
    background:#D7F2FA;
}

.readpanel {
    width:385px;
    height:285px;
    border-radius:5px;
    margin-left:10px;
    float:right;
    position:relative;
    margin-top:5px;
}
.close {
    margin-top:305px;
    background-color:#D7F2FA;
    margin-right:41px;
}
.readFrame-toolbar {
     width:800px;
    height:30px;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
     background:rgba(215,242,250,0.3) none repeat scroll !important;
   /*-moz-opacity:0.3;
    opacity: 0.3;
    filter:Alpha(opacity=30);  */  
  
    background-color:#D7F2FA;
}
.textarea {
     margin-left:auto;
    margin-right:auto;
     border-radius:5px;
    font-family: 'Mercury Text G2';
    font-size:15px;
    margin-top:5px;
    background:rgba(215,242,250,0.3) none repeat scroll !important;  
   /*-moz-opacity:0.3;
    opacity: 0.3;
    filter:Alpha(opacity=30);  */   
    background-color:#D7F2FA;
    height:320px;
    width:1000px;
}

.default {
    margin-left:5px;
    float:left;
}
.user {
    float:left;
}
.number {
    float:left;
     
}
.number-font {
    font-family: 'Mercury Text G2';
    font-size:15px; 
    position:relative;

}


.threshold {
    margin-top:5px;
    background-color:#D7F2FA;
    height:110px;
    background:rgba(215,242,250,0.3) none repeat scroll !important;
}
.reference {
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    margin-top:5px;
    background:rgb(215,242,250) none repeat scroll !important;
   /*-moz-opacity:0.3;
    opacity: 0.3;
    filter:Alpha(opacity=30);  */  
    background-color:#D7F2FA;
    height:50px;
    width:1000px;
    border-color:#fff5ee;
}
    .reference h1,.number-font1{
        font-family: 'Mercury Text G2';
        font-size:20px;
        position:relative;
    }
    .reference h2 {
        font-family: 'Mercury Text G2';
        font-size:15px;
        
        text-align:center;
        vertical-align:middle;
        margin-top:10px;
    }

.buttonpo {
    margin-top:5px;
    float:right;
    margin-right:5px;
}
.predict {
    margin-left:60px;
    margin-right:15px;
    margin-top:0px;
}
.result-left {
   margin-left:180px;
    margin-top:10px;
    float:left;
}
.gridpanel {
    float:left;
    margin-left:175px;
    margin-top:10px;
}
.result-right {
    margin-left:590px;
    margin-top:10px;
   
}